# Logs & system files
*.log
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production
.phpactor.json
auth.json

# Laravel specific
/vendor
/node_modules

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen with changed public path
public_html/storage
public_html/hot

# Storage keys & cache
storage/*.key
/storage/pail
.phpunit.result.cache
/.phpunit.cache

# Development files
Homestead.yaml
Homestead.json
/.vagrant
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Build artifacts
/public/build
